/* registration.css */
/* login.css */
.form-group h3 {
    margin-bottom: 20px;
    font-family: Arial, sans-serif; /* Specify your preferred font-family */
    font-weight: bold; /* Make the text bold */
    font-size: 24px; /* Set the font size to your preference */
    color: #00ADB5; /* Set the text color */
    /* Add any other styles you want */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a text shadow for contrast */
    background-color: #00ADB5; /* Set a background color for contrast */
    padding: 10px 20px; /* Add padding for readability */
}


.login-button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 45px;
    height: 35px;
    line-height: 35px;
    border-radius: 4px;
    background-color: #00ADB5;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
    transition: transform 0.1s;
    margin-top: 20px;
}

    .login-button:hover {
        background: #00ADB5;
        box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
        animation: shake 2s;
    }

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-6px);
    }

    20%, 40%, 60%, 80% {
        transform: translateX(6px);
    }
}

/* registration.css */
.form-group {
    max-width: 300px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the form elements horizontally */
    text-align: center;
    margin-bottom: 20px;
}

    /* Optional: Reduce label width if needed */
    .form-group label {
        width: 80px; /* Adjust the label width as needed */
    }

    /* Optional: Reduce input width if needed */
    .form-group .form-control {
        width: 100%; /* Make the input take up the remaining width */
    }

    /* registration.css */
    .form-group.email {
        margin-top: 20px; /* Adjust the margin as needed */
    }

    /* Placeholder fade-out animation */
    .form-group .form-control::placeholder {
        color: #888;
        opacity: 1;
        transition: color 1s ease-in-out, opacity 1s ease-in-out;
    }

    .form-group .form-control:focus::placeholder {
        color: transparent;
        opacity: 0;
        animation: none; /* Disable the animation when focused */
    }
