.button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 45px;
    height: 35px;
    line-height: 35px;
    border-radius: 4px;
    background-color: #00CC66;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
    transition: transform 0.1s;
}

    .button:hover {
        background: #ABE098;
        box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
        animation: shake 2s;
    }

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-6px);
    }

    20%, 40%, 60%, 80% {
        transform: translateX(6px);
    }
}

/* Add padding or margins to your page content to prevent it from being obscured by the navbar */
/* For example: */
body {
    padding-top: 60px; /* Adjust as needed to match the height of your navbar */
}
