@page "/component"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <title>Sportleaf</title>
    <!-- style css link -->
    <link rel="stylesheet" href="./css/index-novi.css">
    <!-- fontawesome css link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    
<!-- header section start -->


    <header>
        <div class="header-container">
            <div class="header-wrapper">
                <div class="logoBox">
                    <button><img src="images/icons8-home-480.png" alt="home"></button>
                </div>
                <div class="searchBox">
                    <input type="search">
                    <i class="fas fa-search"></i>
                </div>
                <div class="iconBox2">
                    <button><img src="images/icons8-chat-50.png" alt="chat"></button>
                    <button><img src="images/icons8-logout-30.png" alt="logout"></button>
                    <button><label><img src="images/user.jpg" alt="user"></label></button>
            
                </div>
            </div>
        </div>
    </header>


<!-- header section end -->
<!-- home section start -->


<div class="home">
    <div class="container">
        <div class="home-weapper">"

            <!-- home center start here -->

            <div class="home-center">
                <div class="home-center-wrapper">

                    <div class="createPost">

                        <h3 class="mini-headign">Create Post</h3>
                        <div class="post-text">
                            <img src="images/user.jpg" alt="user">
                            <input type="text-area" placeholder="What's on your mind, zahidul">
                        </div>

                        <div class="post-icon">
                            <a href="#" style="background: #ffebed;">
                            <i style="background: #ff4154;" class="fa-solid fa-camera"></i>
                            Datum</a>
                            <a href="#" style="background: #d7ffef;">
                            <i style="background: #00d181;" class="fa-solid fa-location-dot"></i>
                            Lokacija</a>

                        </div>
                    </div>

                   
                    <div class="fb-post1">
                        <div class="fb-post1-container">
                            <div class="fb-post1-header">
                                <ul>
                                    <li class="active">Nedavno</li>
                                </ul>
                            </div>
                            <div class="fb-p1-main">
                                <div class="post-title">
                                    <img src="images/user2.jpg" alt="user picture">
                                    <ul>
                                        <li><h3>Arham Kabir <span> . 2 hours ago</span></h3></li>
                                        <li><span>02 march at 12:55 PM</span></li>
                                    </ul>
                                    <p>Hello Everyone Thanks for Watching Please SUBSCRIBE My Channel - Like Comments and Share
                                        <a href="https://www.youtube.com/channel/UCHhGX-DD7A8jq7J_NPGN6gA">https://www.youtube.com/channel/UCHhGX-DD7A8jq7J_NPGN6gA</a>
                                    </p>
                                </div>

                                <div class="post-images">
                                    <div class="post-images1">
                                        <img src="images/pp.jpg" alt="post images 01">
                                        <img src="images/pp2.jpg" alt="post images 02">
                                        <img src="images/pp3.jpg" alt="post images 03">
                                    </div>
                                    <div class="post-images2">
                                        <img src="images/pp4.jpg" alt="post images 04">
                                    </div>
                                </div>

                                <div class="like-comment">
                                    <ul>
                                        <li>
                                            <img src="images/love.png" alt="love">
                                            <img src="images/like.png" alt="like">
                                            <span>22k like</span>
                                        </li>
                                        <li><i class="fa-regular fa-comment-dots"></i> <span>555 comments</span></li>
                                        <li><i class="fa-solid fa-share-from-square"></i> <span>254 share</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- home center wrapper end -->
            </div> <!-- home center end -->
        </div>
    </div>
</div>
<!-- home section end -->
</body>
</html>