@page "/"

<PageTitle>Sportleaf</PageTitle>

<h1>Dobrodošao, user</h1>
<h2>Preporučeni video: </h2>


@{
    string videoUrl1 = "https://www.youtube.com/watch?v=Gcbk6t92Ho4";
}

@{
    string videoUrl2 = "https://www.youtube.com/watch?v=8aahBio9Xqs";
}

@{
    string videoUrl3 = "https://www.youtube.com/watch?v=1B4B46K9EOE";
}

@{
    string[] choices = new string[] { videoUrl1, videoUrl2, videoUrl3 };
    Random random = new Random();
    int index = random.Next(choices.Length);
    string randomChoice = choices[index];
}

<iframe width=560 height=315 src=@randomChoice frameborder="0" allowfullscreen></iframe>

<SurveyPrompt Title="How is Blazor working for you?" />
