@*<link href="./css/options.css" rel="stylesheet" />
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Components.Navigation*@


@page "/options"

<h3>Options</h3>

<div class="options-buttons">
    <button @onclick="ChangePassword">Change Password</button>
    <button @onclick="UpdateProfile">Update Profile</button>
    <button @onclick="Logout">Logout</button>
</div>

@code {
    private void ChangePassword()
    {
        // Navigate to the change password page
        @*Navigation.NavigateTo("/changepassword");*@
    }

    private void UpdateProfile()
    {
        // Navigate to the update profile page
        @*Navigation.NavigateTo("/updateprofile");*@
    }

    private void Logout()
    {
        // Navigate to the logout page or perform logout-related actions
        @*Navigation.NavigateTo("/logout");*@
    }
}
