@page "/user_profile"

<div style="display: flex;">
    <div style="text-align: center;">
        <img style="width: 200px; height: 200px;" src="./images/Avatar-Picture.png" alt="Avatar">
        <p style="margin-top: 5px; font-weight: bold; font-size: 30px;">username</p>
    </div>
    <div>

    </div>
</div>

@code {
}
