@using RiHack_RitehKromanjonci.Data;
@using RiHack_RitehKromanjonci.Models;

@inject AppDbContext Context
@inject NavigationManager navManager

@inherits LayoutComponentBase
<link href="./css/navbarbutton.css" rel="stylesheet" />
<PageTitle>Sportleaf</PageTitle>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
