@inherits LayoutComponentBase

<PageTitle>RiHack-RitehKromanjonci</PageTitle>

<div class="page">
    <div style="background-color: lightgray;">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style="background-color: lightgray;">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
