@using RiHack_RitehKromanjonci.Data;
@using RiHack_RitehKromanjonci.Models;

@inject AppDbContext Context
@inject NavigationManager navManager

@inherits LayoutComponentBase
<link href="./css/navbarbutton.css" rel="stylesheet" />
<PageTitle>Sportleaf</PageTitle>

<div class="page">
    <main>
        <div></div>
        <div class="top-row px-4" style="background-color: #00ADB5; display: flex; justify-content: space-between;">
            
            <div class="top-row px-4" style="background-color: #00ADB5;">
                @*LIJEVA STRANA*@
                <div class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <i class="material-icons" style="margin-right: 10px; margin-left: -5px; color: white;" aria-hidden="true">home</i>
                    </NavLink>
                </div>
            </div>

            <div class="top-row px-4" style="background-color: #00ADB5;">
                @*DESNA STRANA*@
                @*AKO NIJE ULOGIRAN POKAZI LOGIN, AKO JE ULOGIRAN POKAZI PROFIL, MESSAGES ITD..*@
                <AuthorizeView Roles="User">
                    <Authorized>
                        <div class="nav-item">
                            <NavLink class="nav-link" href="user_profile" Match="NavLinkMatch.All">
                                <i class="material-icons" style="margin-right: 10px; margin-left: -5px; color: white;" aria-hidden="true">account_circle</i>
                            </NavLink>
                        </div>

                        <div class="nav-item">
                            <NavLink class="nav-link" href="./Discussions" Match="NavLinkMatch.All">
                                <i class="material-icons" style="margin-right: 10px; margin-left: -5px; color: white;" aria-hidden="true">chat</i>
                            </NavLink>
                        </div>

                        <div class="nav-item">
                            <NavLink class="nav-link" href="options" Match="NavLinkMatch.All">
                                <i class="material-icons" style="margin-right: 10px; margin-left: -5px; color: white;" aria-hidden="true">settings</i>
                            </NavLink>
                        </div>

                        <div style="margin-left: 20px;">
                            <NavLink class="nav-link" href="./logout" style="color: white;">Odjava</NavLink>
                        </div>
                    </Authorized>

                    <NotAuthorized>
                        <div style="margin-left: 20px;">
                            <NavLink class="nav-link" href="./login" style="color: white;">Prijava</NavLink>
                        </div>

                        <div style="margin-left: 20px;">
                            <NavLink class="nav-link" href="./register" style="color: white;">Registracija</NavLink>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
