@inherits LayoutComponentBase
<link href="./css/navbarbutton.css" rel="stylesheet" />
<PageTitle>RiHack-RitehKromanjonci</PageTitle>

<div class="page">
    <div style="background-color: darkgreen;">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style="background-color: darkgreen;">
            <button class="button">Login</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
