<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <i class="material-icons navbar-brand" style="margin-right: 10px; margin-left: -5px;" aria-hidden="true">account_circle</i> @*TREBA UBACITI SLIKU LOGOA*@
        <a class="navbar-brand" style="width: 200px;" href="">Sportleaf</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="user_profile" Match="NavLinkMatch.All">
                <i class="material-icons" style="margin-right: 10px; margin-left: -5px;" aria-hidden="true">account_circle</i> Profil
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="user_profile" Match="NavLinkMatch.All">
                <i class="material-icons" style="margin-right: 10px; margin-left: -5px;" aria-hidden="true">chat</i> Poruke
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="user_profile" Match="NavLinkMatch.All">
                <i class="material-icons" style="margin-right: 10px; margin-left: -5px;" aria-hidden="true">group</i> Prijatelji
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="user_profile" Match="NavLinkMatch.All">
                <i class="material-icons" style="margin-right: 10px; margin-left: -5px;" aria-hidden="true">settings</i> Postavke
            </NavLink>
        </div>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
